/* elementos comuns às paginas */

body{
    background-color: #333333;
    color: #000;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}

.container{
    width: 75%;
    margin: auto;
    overflow: hidden;
    padding: 5px;
}

#logo{
    height: 45px;
}

header{
    background-color: #efefef;
    padding: 30px 0 10px 0;
    border-bottom: #ca8c41 5px solid;
}  

#navbar{
    display: flex;
    width: 75%;
    margin: auto;
}

#navLogo{
    flex: 1;
    margin: auto;
}

#navMenu{
    flex: 0 0 75% 0;
    padding-top: 15px;   
}

#navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
    float: left;
    padding-left: 20px;
}

#navbar a{
    color: #ca8c41;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

#navbar a:hover{
    color: #c4640b;
}

footer{
    text-align: center;
    color: white;   
}

/* elementos exclusivos ao index */

#intro{   
    text-align: center;
    background:url(./imagens/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: white;
}

#intro h2{
    padding: 50px 0 20px 0;
}

#intro h1{
    padding: 20px;
}

#intro h3{
    padding: 30px 0 50px 0;
}

#icone {
    height: 140px;
}

/* elementos exclusivos ao howTo */

#passos{
    background-color: #fcfcfc;
    padding: 30px;
    text-align: left;
}

#passos ol{
    font-size: 18px;
    font-weight: 500;
}

#passos li{
    padding: 15px 0 0 20px;
}

#funcionalidades{
    background-color: #fcfcfc;
    text-align: justify;
    padding-bottom: 50px;
}

#mais{
    background-color: #adadad;
    text-align: center;
}

/* elementos exclusivos ao about */

#sobre{
    background-color: #fcfcfc;
    text-align: justify;
}

.nome{
    text-align: left;
    padding-right: 20px;
}

#elementos{
    width: 100%;
    background-color: #fcfcfc;
    text-align: justify;
    float: right;
}

#elementos h5{
    padding-right: 50%;
    min-width: 230px;
}

table{
    float: left;
    margin: auto;
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 80px;
}